@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #000000;
}
.container{
    --light-colr: #fff;
    height: 420px;
    width: 350px;
    background: #fff;
    position: fixed;
    bottom: 50px;
    right: 10px;
    border-radius: 22px;
    
}

.container.collapse{
    height: 60px;
    width: 160px;
    cursor: pointer;
}

.chat-header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color: #ecb100;
    color: var(--light-colr);
    font-size: 1.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chat-body{
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    align-items: flex-end;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.chat-input{
    height: 60px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

.input-sec{
    flex: 9;
}

.send{
    flex: 1;
    padding-right: 4px;
}

#txtInput{
    line-height: 30px;
    padding: 8px 10px;
    border: none;
    outline: none;
    caret-color: black;
    font-size: 1rem;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chatbot-message, .user-message {
    padding: 8px;
    background: #ccc;
    margin: 5px;
    width: max-content;
    border-radius: 10px 3px 10px 10px;
}

.user-message {
    transform: translate(50%);
    opacity: 0;
    animation: fade-in-right 0.3s ease-in-out both;
}

.chatbot-message {
    background: #ecb100;
    color: black;
    align-self: flex-start;
    border-radius: 10px 10px 10px 3px;
    transform: translate(-50%);
    opacity: 0;
    animation: fade-in-left 0.3s ease-in-out both;
}

.chat-body .loading{
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 2%;
    z-index: 999;
}

.circle-1{
    animation: blink 1s ease-in-out 0ms infinite;
}

.circle-2{
    animation: blink 1s ease-in-out 200ms infinite;
}

.circle-3{
    animation: blink 1s ease-in-out 400ms infinite;
}

.chat-body .loading .circle{
    height: 20px;
    width: 20px;
    background-color: #ecb100;
    margin: 5px;
    border-radius: 50px;
}

.bot-response-container{
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    word-wrap: break-word;
}

@keyframes fade-in-right{
    0% {
        transform: translate(50%);
        opacity: 0;
    }
    100% {
        transform: translate(0%);
        opacity: 1;
    }
}

@keyframes fade-in-left{
    0% {
        transform: translate(-50%);
        opacity: 0;
    }
    100% {
        transform: translate(0%);
        opacity: 1;
    }
}

@keyframes blink {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

.hide{
    display: none !important;
}


